body{
  background-color: #17181f;
  color:#aaa;
}


form{
  border:3px solid #303130;
  border-radius:10px;
  padding:5px;
  display: flex;
  padding-left:10px;

}

*{
  box-sizing: border-box;
}

form input[type="text"]{
  background:none;
  border:0px;
  padding:5px 4px;
  color: aliceblue;
  border-radius:10px;
  display: block;
  width:100%;
}

form button{
  background-color: #61dafb;
  border-radius: 6px;
  cursor: pointer;
}

main{
  max-width: 300px;
  margin: 20% auto;
}

div.task{
  background-color:#303130;
  border-radius: 10px;
  padding: 5px 9px;
  margin-top: 5px;
    display: flex;
}

div.task svg{
  height: 20px;
  margin-left: 4px;
}